<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mhm.xq">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">

        <!--  editor-fold desc="home"  -->

        <activity
            android:name=".ui.home.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.activity.HomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.home.activity.GuideActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--  editor-fold  -->

        <!--  editor-fold desc="auth"  -->

        <activity
            android:name=".ui.auth.activity.SignActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.auth.activity.RegisteredActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.auth.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>

        <!--  editor-fold  -->

        <!--  editor-fold desc="general"  -->

        <activity
            android:name=".ui.general.SearchActivity"
            android:screenOrientation="portrait"/>

        <!--  editor-fold  -->

        <!--  editor-fold desc="qrCode"  -->

        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="portrait"/>

        <!--  editor-fold  -->

        <!--  editor-fold desc="common"  -->

        <activity
            android:name=".ui.common.ScanResultActivity"
            android:screenOrientation="portrait"/>

        <!--  editor-fold  -->

        <!--  editor-fold desc="me"  -->

        <activity
            android:name=".ui.me.activity.MyQrActivity"
            android:screenOrientation="portrait"/>

        <!--  editor-fold  -->

    </application>

</manifest>